body,
html {
  background-color: #ccc;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}

h4:first-child {
  margin-top: 0;
}

.transactionLink {
  color: rgb(240, 80, 125);
  cursor: pointer;
}

.transactionLink:hover {
  color: rgb(240, 80, 125);
}

.btn-primary {
  background-color: rgb(240, 80, 125);
  border-color: rgb(210, 60, 95);
}

.btn-primary[disabled]:hover,
.btn-primary:hover {
  background-color: rgb(210, 50, 96);
  border-color: rgb(150, 30, 45);
}
