.Sidebar {
  bottom: 0;
  border-radius: 4px 0 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: #000;
  max-height: 100%;
  position: absolute;
  right: 0;
  transition: all 0.3s ease;
  width: 360px;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: scroll;
}

.Sidebar-simple {
  padding: 0 16px;
}

.Sidebar-content {
  background: linear-gradient(to bottom left, #ffffff, #efefef, #ddd);
  padding: 16px 0;
  z-index: 10;
  position: relative;
}

.Sidebar a {
  color: rgb(240, 80, 125);
}

.Sidebar-slide-enter {
  margin-bottom: -100%;
}

.Sidebar-slide-enter.Sidebar-slide-enter-active {
  margin-bottom: 0;
  transition: all 300ms ease;
}

.Sidebar-slide-leave {
  margin-bottom: 0;
}

.Sidebar-slide-leave.Sidebar-slide-leave-active {
  margin-bottom: -100%;
  transition: all 300ms ease;
}

.Sidebar-header {
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
}

.Sidebar-subheader {
  font-size: 10px;
  text-transform: uppercase;
  pointer-events: none;
  user-select: none;
}

.Sidebar-user-section {
  margin-bottom: 12px;
}

.Sidebar-user-section:last-child {
  margin-bottom: 0;
}

.Sidebar-divider {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.Sidebar-address {
  color: rgb(240, 80, 125);
  font-size: 12px;
  word-wrap: break-word;
}

.Sidebar-you {
  color: #000;
}

.Sidebar-address:hover {
  overflow: visible;
  white-space: nowrap;
}

.Sidebar-address:hover .Sidebar-you {
  display: none;
}

.Sidebar-unconnected {
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.Sidebar-row {
  margin-top: 12px;
}

.Sidebar-buttons {
  margin-top: 4px;
}

.Sidebar-message {
  background: rgba(33, 33, 33, 0.9);
  border: 0;
  box-shadow: none;
  color: #fff;
  font-family: Consolas, Menlo, Monaco, Consolas, monospace;
  font-size: 14px;
  margin-top: 4px;
  padding: 4px 8px;
  white-space: pre-line;
  width: 328px;
  word-break: normal;
  word-wrap: normal;
}

.Sidebar-message-warning {
  font-size: 12px;
  margin-top: 4px;
}

.Sidebar-question {
  font-weight: bold;
}
