.Sidebar {
  background: linear-gradient(to bottom left, #ffffff, #efefef, #ddd);
  bottom: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: #000;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 16px 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 360px;
  z-index: 1;
}

.Sidebar a {
  color: rgb(240, 80, 125);
}

.Sidebar-slide-enter {
  transform: translateX(100%);
}

.Sidebar-slide-enter.Sidebar-slide-enter-active {
  transform: translateX(0);
  transition: all 300ms ease;
}

.Sidebar-slide-leave {
  transform: translateX(0);
}

.Sidebar-slide-leave.Sidebar-slide-leave-active {
  transform: translateX(100%);
  transition: all 300ms ease;
}

.Sidebar-header {
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
}

.Sidebar-subheader {
  font-size: 10px;
  text-transform: uppercase;
  pointer-events: none;
  user-select: none;
}

.Sidebar-divider {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.Sidebar-address {
  color: rgb(240, 80, 125);
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Sidebar-you {
  color: #000;
}

.Sidebar-address:hover {
  overflow:visible;
  white-space: nowrap;
}

.Sidebar-address:hover .Sidebar-you {
  display: none;
}

.Sidebar-row {
  margin-top: 12px;
}

.Sidebar-buttons {
  margin-top: 4px;
}
