.Sidebar {
  background: rgb(37, 52, 71);
  bottom: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 16px 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  z-index: 1;
}

.Sidebar a {
  color: rgb(240, 80, 125);
}

.Sidebar-slide-enter {
  transform: translateX(100%);
}

.Sidebar-slide-enter.Sidebar-slide-enter-active {
  transform: translateX(0);
  transition: all 300ms ease;
}

.Sidebar-slide-leave {
  transform: translateX(0);
}

.Sidebar-slide-leave.Sidebar-slide-leave-active {
  transform: translateX(100%);
  transition: all 300ms ease;
}

.Sidebar-header {
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
}

.Sidebar-subheader {
  font-size: 10px;
  text-transform: uppercase;
  pointer-events: none;
  user-select: none;
}

.Sidebar-row {
  margin-top: 16px;
}

.Sidebar-colorbox {
  border: 1px solid #fff;
  display: inline-block;
  height: 10px;
  margin-left: 4px;
  width: 10px;
}
